---
layout: default
---

<div class="posts">

  {% for post in paginator.posts %}
    <article class="post">

      <h1 class="postlist"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="date">
        {% assign m = post.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}Januar
          {% when '2' %}Februar
          {% when '3' %}Mars
          {% when '4' %}April
          {% when '5' %}Mai
          {% when '6' %}Juni
          {% when '7' %}Juli
          {% when '8' %}August
          {% when '9' %}September
          {% when '10' %}Oktober
          {% when '11' %}November
          {% when '12' %}Desember
        {% endcase %}
        {{ post.date | date: "%Y" }}
      </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Les mer</a>
    </article>
  {% endfor %}
</div>

<div class="PageNavigation">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="LeftPage">
      &laquo; Forrige side
    </a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="RightPage">Neste &raquo;</a>
  {% endif %}
</div>
